In [28]:
import pandas as pd
my_series=pd.Series([5,6,7,87,2,3,4])
print(my_series)
print(my_series.index)
print(my_series.values)

0     5
1     6
2     7
3    87
4     2
5     3
6     4
dtype: int64
RangeIndex(start=0, stop=7, step=1)
[ 5  6  7 87  2  3  4]

In [29]:
my_series[3]

87

In [30]:
lits=[5,6,7,87,2,3,4]
index=['A','B','C','D','E','F','H']
my_series2=pd.Series(lits,index)
print(my_series2)
my_series2['B']

A     5
B     6
C     7
D    87
E     2
F     3
H     4
dtype: int64

6

In [31]:
print(my_series2[my_series2>5])
print(my_series2[my_series2>5]*7)

B     6
C     7
D    87
dtype: int64
B     42
C     49
D    609
dtype: int64

In [32]:
ser_3=pd.Series({'A':3,'B':9,'C':10})
ser_3

A     3
B     9
C    10
dtype: int64

In [33]:
ser_3.dtype

dtype('int64')

In [34]:
ser_3.name="Numbers"
ser_3.index.name="Letters"
print(ser_3)

Letters
A     3
B     9
C    10
Name: Numbers, dtype: int64

In [35]:
ser_3.index=["Ist","Sec","Third"]

In [36]:
ser_3

Ist       3
Sec       9
Third    10
Name: Numbers, dtype: int64

In [37]:
df=pd.DataFrame({
    'Country':['India','Bhutan','Pakistan'],
    'Population':[2000,400,600],
    'Currency':['Rupee','Aana','penny']

})

In [38]:
df

    Country  Population Currency
0     India        2000    Rupee
1    Bhutan         400     Aana
2  Pakistan         600    penny

In [39]:
type(df['Country'])

pandas.core.series.Series

In [40]:
df.columns

Index(['Country', 'Population', 'Currency'], dtype='object')

In [41]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [42]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [43]:
df.index.name='Index'

In [44]:
df

        Country  Population Currency
Index
0         India        2000    Rupee
1        Bhutan         400     Aana
2      Pakistan         600    penny

In [45]:
df.loc[1]

Country       Bhutan
Population       400
Currency        Aana
Name: 1, dtype: object

In [47]:
df.loc[0]

Country       India
Population     2000
Currency      Rupee
Name: 0, dtype: object

In [48]:
df.loc[[1,2],'Population']

Index
1    400
2    600
Name: Population, dtype: int64

In [49]:
df

        Country  Population Currency
Index
0         India        2000    Rupee
1        Bhutan         400     Aana
2      Pakistan         600    penny

In [51]:
df[df.Population>415][['Country','Currency']]

        Country Currency
Index
0         India    Rupee
2      Pakistan    penny

In [52]:
df.reset_index()

   Index   Country  Population Currency
0      0     India        2000    Rupee
1      1    Bhutan         400     Aana
2      2  Pakistan         600    penny

In [56]:
df['Density']=df['Population']*2

In [57]:
df

        Country  Population Currency  density  Density
Index
0         India        2000    Rupee     4000     4000
1        Bhutan         400     Aana      800      800
2      Pakistan         600    penny     1200     1200

In [58]:
df.drop(['density'],axis='columns')

        Country  Population Currency  Density
Index
0         India        2000    Rupee     4000
1        Bhutan         400     Aana      800
2      Pakistan         600    penny     1200

In [60]:
del df['Density']

In [62]:
del df['density']

In [63]:
df

        Country  Population Currency
Index
0         India        2000    Rupee
1        Bhutan         400     Aana
2      Pakistan         600    penny

In [64]:
df=df.rename({'Country':'Desh ka naam'})
df

        Country  Population Currency
Index
0         India        2000    Rupee
1        Bhutan         400     Aana
2      Pakistan         600    penny

In [65]:
df

        Country  Population Currency
Index
0         India        2000    Rupee
1        Bhutan         400     Aana
2      Pakistan         600    penny

In [66]:
df.columns.values

array(['Country', 'Population', 'Currency'], dtype=object)

In [71]:
df = df.rename(columns={'Country': 'country_code'})

In [72]:
df

      country_code  Population Currency
Index
0            India        2000    Rupee
1           Bhutan         400     Aana
2         Pakistan         600    penny

In [74]:
from google.colab import files 
g=files.upload()

Saving housing.csv to housing.csv

In [75]:
df=pd.read_csv('housing.csv')

In [76]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [80]:
print(df.groupby(['total_rooms','population'])['ocean_proximity'].counts())

AttributeError: ignored